/* style.css */

html {
    scroll-behavior: smooth;
    background-color: rgb(221, 229, 226);

}

body {
    font-family: Arial;
    background-color: #ffffffe2;
    color: #333;
}

.cvHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 40px;
    border-bottom: 2px solid #170707;
}

.cvHeader img {
    width: 150px;
    height: auto;      
    border-radius: 8px;
}
.navigation{
    font-weight: bold;
}

.navigation a:hover {
    color: #cd1b1b;
}
